.main{
  display: flex;
  flex-direction: column;
}

.fa-solid
{
  background: none;
  border: none;
  width: auto;
  height: auto;
  border-radius: none;
  display: unset;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
  cursor: pointer;
}


@media only screen and (max-width: 900px)
{
  nav
  {
    position: relative;
    opacity: 1;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  nav:hover
  {
    position: relative;
    opacity: 1;
  }
  .nav-links ul li
  {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
  .search-description
  {
    display: none;
  }
  .contain-box
  {
    flex-direction: column-reverse;
    width: 95%;
  }
  .box
  {
    width: 100%;
  }
  .primary-content
  {
    width: 90%;
    height: auto;
  }
  .description{
    width: 95%;
  }
  .fa
  {
    width: 40px;
  }
  .destination
  {
    font-size: 0.9rem !important;
  }
  .address
  {
    font-size: 0.9rem;
  }
  .divider
  {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff49;
    height: 1px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.hidden
{
  display: none !important;
}